/*--------------------------------- Formattazioni generiche ---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body {
    background-image: url("https://images.pexels.com/photos/172285/pexels-photo-172285.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.container {
    width: 90vw;
    margin: 40px auto;
}

.box {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    padding: 10px;
}

/*---------------------------------Formattazione Header ---------------------------------*/
header {
    width: 100%;
    height: 350px;
    padding: 15px;
    background-color: white;
}

header .box {
    position: relative;
    background-image: url("https://images.pexels.com/photos/1083515/pexels-photo-1083515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50% , -50%);
    text-transform: uppercase;
}

.title img {
    object-fit: contain;
    object-position: center;
    height: 200px;
}

.title h2 {
    font-weight: bold;
}

/* --------------------------------- Formattazione nav ---------------------------------*/

nav {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu {
    width: max-content;
    margin: 0 auto;
}

.menu li{
    display: inline-block;
    color: white;
    list-style: none;
    text-transform: uppercase;
    padding: 0 10px;
    font-size: larger;
    text-align: center;
    line-height: 40px;
}

/*---------------------------------Formattazione row con aside e main ---------------------------------*/
.row {
    width: 100%
}

.row .box {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.row h3 {
    color: #504741;
    padding: 10px;
}

.row p {
    padding: 10px;
    line-height: 1.5em;
}

/*---------------------------------Formattazione aside left ---------------------------------*/

.left {
    width: 20%;
    float: left;
    padding: 10px 10px 10px 0px;
}

.feed .fa-rss-square {
    color: orange;
}

.feed span {
    color: #504741;
}

.feed p {
    color: #1c8204;
}

/*---------------------------------Formattazione main ---------------------------------*/

main {
    width: 50%;
    float: left;
    padding: 10px;
}

main h2 {
    color: #504741;
    padding: 10px;
    text-shadow: 2px 2px lightgrey;
    text-transform: uppercase;
}

main p {
    padding: 10px;
    line-height: 1.75em;
}

/*---------------------------------Formattazione aside right---------------------------------*/

.right {
    width: 30%;
    float: left;
    padding: 10px 0px 10px 10px;
}

/*---------------------------------Formattazione footer ---------------------------------*/

footer {
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
footer .box {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
